*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.container_main{
    width: 100%;
    height: 500px;
    background-color: #0C325A;
}

header{
    width: 85%;
    height: 100px;
    margin: auto;
    background-color: red;
}

header a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 10px;
}

.logo{
    width: 15%;
    padding-top: 20px;
}

.left_menu ul li{
    list-style: none;
    display: inline-block;
}

.left_menu>ul>li